# Test results

When you run a test case from the Editor page, you can see the result of each step immediately on the page.

### Viewing all test results

From the navigation menu at the top, clicking on the "Runs" menu will take you to the test runs page that lists all the test cases that you have run at least once.

<figure><img src="../.gitbook/assets/image (13) (1).png" alt=""><figcaption><p>Test runs page</p></figcaption></figure>

On this page, you can see the number of all test cases you have run (The All Tab).

The "Passed" tab shows you the number of test cases that passed, based on the last run done.

The "Failed" tab shows you the number of test cases that failed, based on the last run done.

You can click on either the Passed or Failed tab to filter for either success of failure.

There is also a search box for you to search for any test case.

You can also use the date filters to filter the runs based on the last run date.



From the list of test cases displayed, if you click on a test case, it displays the run history of the test cases. You will be able to see the result of each time the test ran in the past.

<figure><img src="../.gitbook/assets/image (11) (1).png" alt=""><figcaption><p>Run history of a single test case</p></figcaption></figure>

The table displays summary information about each run, namely: the execution environment, the start and finish time, the duration it took and the status of the run.

To view an individual run, click on the row of interest. The click takes you to the editor, listing all steps and the respective status for each step.

<figure><img src="../.gitbook/assets/image (12) (1).png" alt=""><figcaption><p>Test run result</p></figcaption></figure>

